<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FirstRJavaProj/src/pkg/First.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="C:\Users\Piotrek\Documents\R\win-library\3.3\rJava\jri\x64;C:\Program Files\R\R-3.3.3\bin\x64"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pkg.First"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FirstRJavaProj"/>
</launchConfiguration>
